·main {
  .console {
    color:black;
  }
}
body {
    background-color:lightgrey;
}
.horizontal {
    background-color:floralwhite;
    margin-top: 50px;
    font: {
      family: arial;
      size: 14px;
      weight: bold;
    }
}
.vertical {
    background-color:floralwhite;
    margin-top: 50px;
}
